@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model IEnumerable<Learner>
<div class="ms-2 mx-2">
    <h1>Learner List</h1>
    @await Component.InvokeAsync("Major")
    <div id="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Ngành</th>
                    <th>Ngày Nhập Học</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.LearnerID</td>
                        <td>@s.FirstMidName</td>
                        <td>@s.LastName</td>s
                        <td>@s.Major.MajorName</td>
                        <td>@s.EnrollmentDate</td>
                        <td><a asp-action="Edit" asp-route-id="@s.LearnerID">Edit</a>|<a asp-action="Delete" asp-route-id="@s.LearnerID">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-action="Create" class="btn btn-primary">Create New Student</a>
</div>
@section Scripts{
    <script>
        $("li").click(function (e) {
            var id = $(this).attr("id");
            $ajax({
                url: "LearnerByMajorID", data: { mid: id }, success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
    </script>
}
